<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MNIST</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
		<h1 class="styledH1">Digit Recognition using {{ modelName }}</h1>


		<div class="centered">
		<a href="https://github.com/akashdeepjassal/mnist-flask/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
			<canvas id="canvas" width="128" height="128"></canvas>
		</div>

		<div class="centered">
			<input type="button" class="myButton" value="Predict" style="">
			<input type="button" id="clearButton" value="Clear" style="">
		</div>

		<div class="centered">
			<h1 class="styledH1" id="result"></h1>
		</div>

		<div class="centered" style="margin-top: 5em;">
			<table style="margin: auto;">
				<thead>
					<tr>
						<th>Number</th>
						<th>Prob</th>
					</tr>
				</thead>
				<tbody id='tbody'>
				</tbody>
			</table>
		</div>
  		<script src="{{url_for('static',filename='jquery-3.2.0.min.js')}}"></script>
	    <script src="{{url_for('static',filename='index.js')}}"></script>
		<script type="text/javascript">
			const makeTable = (data) => {
				x = ""
				for(var i=0; i<3; i=i+1){
					x = x + `<tr>
								<td>${data.top3[i]}</td>
								<td>${data.probs[i]}</td>
							</tr>`
				}
				document.getElementById('tbody').innerHTML = x
				document.getElementById('result').innerHTML = "Predicted : " + data.pred
			}

	   		$(".myButton").click(function(){
	   			$('#result').text('  Predicting...');
	   			var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	   			var canvasObj = document.getElementById("canvas");
	   			var img = canvasObj.toDataURL('image/png');
	   			$.ajax({
	   				type: "POST",
	   				url: $SCRIPT_ROOT + "/predict/",
	   				data: img,
	   				success: makeTable
	   			});
			   });
			
			makeTable({
				top3: [4, 2, 0],
				probs: ["0.00", "0.00", "0.00"],
				pred: "None"
			})
	   </script>
</body>
</html>
